:host {
  flex: 1 0 92px;
  border-bottom: solid white 3px;
  display: flex;
  flex-direction: column;
}

.result {
  text-align: center;
  padding: 7px;
  list-style: none;
  margin-bottom: 0;
  flex: 1 0 100%;
}

.result:hover {
  background: limegreen;
}

.place-name {
  color: initial;
  font-family: 'Oswald', sans-serif;
  font-size: 18px;
}