<div class="details-header">
	
	<img class="detail-icon" src="{{ place.icon }}" />
	
	<span class="detail-name"> {{ place.name }} </span>
	
	<div class="star-container">
	  	<i *ngFor="let n of [1,2,3,4,5]"
	  	   [ngClass]="{'fas' : place.rating > n || place.rating < n && place.rating > n -.5,
	  	  			   'fa-star': place.rating > n,
	  	  			   'fa-star-half': place.rating < n && place.rating > n - 0.5}"></i>
	</div>
	
	<div *ngIf="place.opening_hours.open_now" class="open">OPEN NOW!</div>
	
   	<div *ngIf="dollars" class="dollar-container"> 
   		<span *ngFor="let char of dollars" class="dollar-sign">$</span> 
   	</div>
   	
</div>
