
#header {
  background: linear-gradient(to top, 
				rgba(69, 204, 245, 0.80) 0%,	
				rgba(69, 204, 245, 0.25) 100%, transparent),
				url('../assets/dupont_sm.jpg');
  font-size: 40px;
  padding: 30px;
}

h1 {
  text-align: center;
  margin: 0;
  font-family: 'Oswald', sans-serif;
  color: white;
  border: solid;
  border-width: 3px;
}

#content {
  display: flex;
  height: calc(100vh - 184px);
  flex-wrap: wrap;
}

