body {
  height: 100vh;
}

#header {
  background: red;
  width: 100vw;
  font-size: 50px;
  padding: 20px;
}

h1 {
  text-align: center;
  margin: 0;
}

#content {
  display: flex;
  height: 100%;
  max-height: 80vh;
}

#search {
  background: orange;
  flex: 0 0 300px;
  display: flex;
  flex-direction: column;
  height: 100%
}

#search_header {
  background: yellow;
  flex-basis: 50px;
}

ul {
  margin: 0;
  padding: 0;
}

#results {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;

}

.result {
  background: green;
  margin-bottom: 2px;
  text-align: center;
  padding: 5px;
  list-style: none;
  flex: 1 1 50px;
}

#map {
  background: blue;
  height: 100%;
  flex: auto;
}

#details {
  background: purple;
  height: 400px;
  transition: all 1s;
}

