:host {
  background-color: #f91046;
  flex: 1 1 300px;
  display: flex;
  flex-direction: column;
  height: 100%;
  max-width: 350px;
}

#results {
  margin: 0;
  padding: 0;
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  font-family: 'Bitter', serif;
  font-size: 14px;
}

#search_header {
  text-align: center;
  font-family: 'Bitter', serif;
  color: black;
  border-bottom: solid white 6px;
  padding-bottom: 10px;
  margin-bottom: 0px;
}

#search_buttons{
  display: flex;	
  border-top: solid white 3px;
  border-right: solid white 3px;
  align-items: center;
  min-height: 65px;
}

.search_btn {
  flex: 1 1 auto;
  text-align: center;
  padding: 10px;
  color: white;
  margin: 3px;
  font-size: 25px;
}

.search_btn:hover {
  cursor: pointer;
  color: limegreen;
}

.search_btn:active {
  color: white;
}

.star-container {
  margin: 5px;
}